/garbage/
/.venv/
/__pycache__/
/analyse/
/analyse_s1/
/analyse_s1_s2/
/analyse_s1_s2_s3/
/train/
/train_trained/
/train_s1/
/train_s1_s2/
/train_s1_s2_s3/
/xjbExample/
/xjbExample_s1/
/xjbExample_s1_s2/
/xjbExample_s1_s2_s3/